@font-face {
    font-family: "ReneL";
    src: url('../fonts/Rene.Bieder_Campton.Black.otf');
}
@font-face {
    font-family: "ReneM";
    src: url('../fonts/Rene.Bieder_Campton.Bold.otf');
}
@font-face {
    font-family: 'ReneS';
    src: url('../fonts/Rene.Bieder_Campton.Light.otf');
}
.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
    border-width: 0px;
}
.navbar-brand{
    font-family: ReneM;
    font-size: 40px;
    color:#ffffff !important
}
#container-navbar .navbar-inverse{
    background-color: #4A5B76;
    color: white;
    border-bottom: thin solid #5C6B84;
}

.container-selection-dropdowns{
    background-color: #364967;
}

.row-dropdown{
   border-bottom: thin solid #5C6B84;
}

.btn-dropdown{
    color: white;
    background-color: #364967;
    border-color: #364967;
    width: 100%;
    text-align: left;
    white-space: normal;
}
.dropdown-menu>li>a {
    word-wrap: break-word;
    white-space: normal;
}

.btn-dropdown.focus, .btn-dropdown:focus, .btn-dropdown:hover {
    color: #AAAAA9;
}


.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: gray;
}

