@font-face {
    font-family: "ReneL";
    src: url('../fonts/Rene.Bieder_Campton.Black.otf');
}
@font-face {
    font-family: "ReneM";
    src: url('../fonts/Rene.Bieder_Campton.Bold.otf');
}
@font-face {
    font-family: 'ReneS';
    src: url('../fonts/Rene.Bieder_Campton.Light.otf');
}
@font-face {
    font-family: 'ReneMed';
    src: url('../fonts/Rene.Bieder_Campton.Medium.otf');
}


@media (max-width:420px) {
    .dropdown-menu{
      width: 100%;
    }
}
@media only screen and (max-width : 790px){
    .dropdown-menu{
      width: 100%;
    }
}
#lnk-ranking{
    font-family: ReneMed;
}
.dropdown{
    display: inline-flex;
}
.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
    border-width: 0px;
}
.navbar-brand{
    font-family: ReneM;

    color:#ffffff !important
}
#container-navbar .navbar-inverse{
    /**background-color: #4A5B76;**/
    background: #0065AD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#005795, #0065AD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#005795, #0065AD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#005795, #0065AD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#005795, #0065AD); /* Standard syntax */
    color: white;
    border-bottom: thin solid #1874B5;
}

.container-selection-dropdowns{
    background: #0065AD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#005795, #0065AD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#005795, #0065AD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#005795, #0065AD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#005795, #0065AD); /* Standard syntax */
}

.row-dropdown{
   border-bottom: thin solid #1874B5;
}

hr{
    border-color: #1874B5;
}

.btn-dropdown{
    color: white;
    border: 0px;
    /*width: 100%;*/
    text-align: left;
    white-space: normal;
    background: #0065AD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#005795, #0065AD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#005795, #0065AD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#005795, #0065AD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#005795, #0065AD); /* Standard syntax */
}
.dropdown-menu>li>a {
    word-wrap: break-word;
    white-space: normal;
}

.btn-dropdown.focus, .btn-dropdown:focus, .btn-dropdown:hover {
    color: #AAAAA9;
}


.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: gray;
}
