.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
    border-width: 0px;
}
#container-navbar .navbar-inverse{
    background-color: #4A5B76;
    color: white;
    border-bottom: thin solid #5C6B84;
}

.container-selection-dropdowns{
    background-color: #364967;
}

.row-dropdown{
   border-bottom: thin solid #5C6B84;
}

.btn-dropdown{
    color: white;
    background-color: #364967;
    border-color: #364967;
}


.btn-dropdown.focus, .btn-dropdown:focus, .btn-dropdown:hover {
    color: #AAAAA9;
}

@media (max-width: 767px){
    #container-first-selection .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }

    #container-first-selection .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        color: gray;
    }

    #container-second-selection .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #6D6E6E;
    }

    #container-second-selection .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
        color: gray;
    }
}