/* FOOOTER */
/*@media only screen and (max-width : 990px){
    #logo {
        width: 50%;
        margin: auto;
    }
}*/

#logo {
    /*width: 320px;*/
    padding: 13px 0px;
    position: relative;
    /*text-transform: uppercase;*/
    margin: auto;
}
#logo img {
    margin: auto;
}
#logo span {
    margin: auto;
    display: block;
    text-decoration: none;
    text-align: center;
    color: #fff;
    white-space: nowrap;
    font-size: 10px;
}

.footer-logo{
    max-height:55px;
}

#logo:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.footer-bottom{
    color: #fff;
    font-family: ReneS;
    font-size: 10px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #0065AD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#005795, #0065AD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#005795, #0065AD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#005795, #0065AD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#005795, #0065AD); /* Standard syntax */
}

.share-btn{
    color: #fff;
    font-size: 35px;
}

.logo-link:hover{
    text-decoration: none;
}

.share-btn:hover{
    text-decoration: none;
}

.container-footer{
    background: #0065AD; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#005795, #0065AD); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#005795, #0065AD); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#005795, #0065AD); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#005795, #0065AD); /* Standard syntax */
    color: #FFF;
}
.description-footer{
    text-align: center;
}
.social-icons-footer{
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.container-footer-div{
    width: 100%;
}

.footer-description{
    font-family: ReneS;
    font-size: 10px;
    color: #fff;
    margin-top: 10px;
}
 /* END OF FOOOTER*/
