hr{
    margin-top: 5px;
}

.container-ranking{
    background-color: #223757;
}
.row-ranking{
    padding-top: 10px;
    padding-bottom: 10px;
}
.progress-bar {
    /*margin-left: 100px;*/
    width: 100%;
    height: 44px;
}

.progress-bar div {
    height: 100%;
    color: #fff;
    text-align: right;
    font-size: 30px;
    line-height: 44px;
    width: 0;
    font-weight: bolder;
}

.progress-bar-skin  {
    background: #e4e4e4;
    /*border: 1px solid #111;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px #333;*/
}

.progress-bar-skin div {
    background-color: #ca;
}

.row-happy .progress-bar-skin div {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#87c441), to(#87c441));
    background: -webkit-linear-gradient(top, #87c441, #87c441);
    background: -moz-linear-gradient(top, #87c441, #87c441);
    background: -ms-linear-gradient(top, #87c441, #87c441);
    background: -o-linear-gradient(top, #87c441, #87c441);
}

.row-meh .progress-bar-skin div {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fed53e), to(#fed53e));
    background: -webkit-linear-gradient(top, #fed53e, #fed53e);
    background: -moz-linear-gradient(top, #fed53e, #fed53e);
    background: -ms-linear-gradient(top, #fed53e, #fed53e);
    background: -o-linear-gradient(top, #fed53e, #fed53e);
}

.row-unhappy .progress-bar-skin div {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ef4241), to(#ef4241));
    background: -webkit-linear-gradient(top, #ef4241, #ef4241);
    background: -moz-linear-gradient(top, #ef4241, #ef4241);
    background: -ms-linear-gradient(top, #ef4241, #ef4241);
    background: -o-linear-gradient(top, #ef4241, #ef4241);
}

.row-happy .institution-or-service-name-container{
    color: white;
}

.row-meh .institution-or-service-name-container{
    color: white;
}

.row-unhappy .institution-or-service-name-container{
    color: white;
}

.institution-or-service-name-container, .vote-count{
    font-size: 22px;
    font-weight: bolder;
}

.row-institution-services-container{
    padding-left: 40px;
    padding-right: 32px;
    display: none;
}

.row-sub-service-list .service-sublist-label{
    padding-left: 0px;
    color: #FFFFFF;
    font-size: 15px;
    font-family: ReneS;
}

.row-sub-service-list .percentage-count{
    font-size: 15px;
    font-family: ReneS;
}

.row-sub-service-list.row-even{
    /*background-color: #364967;*/
}

.row-sub-service-list.row-odd{
    /*background-color: #223757;*/
}

.col-ranking-type-dropdown-container{
    padding-top: 5px;
    padding-right: 0px;
}

.input-group.input-group-search{
    /*width: 350px;*/
    padding-top:5px;
    padding-bottom:5px;
}

/**
.col-search-container{
    padding-left: 0px;
}**/
