
.illustration-container{
    padding: 0px;
    width: 130px;
}

.container-visualizer{
    background-color: #F3F2F0;
}

.label-satisfaction-level{
    padding-top: 15px;
    color: #4A494A;
    font-weight: bold;
}

.label-indicator, .vote-count-label{
    color: #AAAAA9;
    font-size: 13px;
}

.label-indicator{
    text-align: center;
}

.vote-count-container{
    margin-top: 18px;
    min-width: 130px;
    max-width: 130px;
    padding-left: 10px;
    padding-top: 10px;
}

.vote-count, .percentage-count{
    font-size: 30px;
    font-weight: bolder;
}

.percentage-count{
    margin-bottom: 0px;
}

.row-meh .vote-count, .row-unhappy .vote-count{
    text-align: center;
}

.row-meh, .row-unhappy{
    /*
    padding-top: 10px;
    */
}

.row-happy .vote-count, .row-happy .percentage-count{
    color: #30C67B;
}

.row-meh .vote-count, .row-meh .percentage-count{
    color: #D2B028;
}

.row-unhappy .vote-count, .row-unhappy .percentage-count{
    color: #C6371D;
}